---
import Layout from "@/layouts/Layout.astro"
---
<Layout title="GitCharts - GitHub Statistics">
<footer class="text-center py-8">
<p class="text-sm text-gray-500">© 2024 Astro x Shadcn Starter by <a href="https://x.com/grapplingdev" target="_blank" rel="noopener noreferrer" class="bg-black text-white hover:bg-slate transition-colors duration-300">Dan</a></p>
</footer>